* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

section {
    height: 100%;
    width: 100%;
    background: #000000;
}

.logo_box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateX(45deg) rotateZ(-45deg);
    transform-style: preserve-3d;
    background: url(../images/logo.jpg);
    background-size: cover;
    height: 200px;
    width: 227px;
    transition: .5s;
    box-shadow: -20px 20px 20px rgba(0, 0, 0, .8), -20px 20px 100px rgba(255, 0, 0, .8);
    animation: backdiv 1s ease-in-out infinite;
}

@keyframes backdiv {
    0% {
        box-shadow: -20px 20px 20px rgba(0, 0, 0, .8), -20px 20px 100px rgba(255, 0, 0, .8);
    }

    20% {
        box-shadow: -20px 20px 20px rgba(0, 0, 0, .8), -20px 20px 200px rgba(255, 0, 0, .8);
    }

    40% {
        box-shadow: -20px 20px 20px rgba(0, 0, 0, .8), -20px 20px 100px rgba(255, 0, 0, .8);
    }

    60% {
        box-shadow: -20px 20px 20px rgba(0, 0, 0, .8), -20px 20px 200px rgba(255, 0, 0, .8);
    }

    80% {
        box-shadow: -20px 20px 20px rgba(0, 0, 0, .8), -20px 20px 100px rgba(255, 0, 0, .8);
    }

    100% {
        box-shadow: -20px 20px 20px rgba(0, 0, 0, .8), -20px 20px 200px rgba(255, 0, 0, .8);
    }

}

.logo_box:hover {
    transform: translate(-50%, -50%) rotateX(0) rotateZ(0);
}

.logo_box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background: #585863;
    transform-origin: top;
    bottom: -20px;
    left: 0;
    transform: skewX(-45deg) scale(1);
    transition: .5s;
    background: linear-gradient(#1b1b1b, #ce0000);
}

.logo_box:hover::before {
    transform: skewX(-45deg) scale(0);
}

.logo_box::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    background: #585863;
    transform-origin: left;
    top: 20px;
    left: -20px;
    transform: skewY(-45deg) scale(1);
    transition: .5s;
    background: linear-gradient(to left, #1b1b1b, #ce0000);
}

.logo_box:hover::after {
    top: 0;
    left: 0;
    transform: skewY(-45deg) scale(0);
}