:root {
    --background-color: #2c3e50;
    --border-color: #7591AD;
    --text-color: #34495e;
    --color1: #EC3E27;
    --color2: #FD79A8;
    --color3: #0984E3;
    --color4: #00B894;
    --color5: #FDCB6E;
    --color6: #e056fd;
    --color7: #F97F51;
    --color8: #BDC581;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif, Arial, 'Microsoft Yahei';
}

.channel {
    position: absolute;
    width: 80%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250px);
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.container {
    transform: scale(0.8);
}

.loader {
    position: relative;
    width: 608.5px;
    height: 100px;

}

.loader div {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: var(--color);
    left: calc((var(--i) - 1) * 169.5px);
    border-radius: 20px;
    animation: animate 1s linear infinite;

    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animate {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

.loader div::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    background-color: var(--color);
    top: -120px;
    border-radius: 20px;
    animation: animate_show 4s steps(1, end) infinite;
    animation-delay: calc((5 - var(--i)) * -1s);
}

@keyframes animate_show {

    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}


.loader div::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
}